# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#connect(read) csv from other (WeatherPy) file
df = pd.read_csv('weather.csv', index_col=0)
df.head()

,city_name,temperature,humidity,cloudiness,wind_speed,long,lati,country
0,Mt. Pleasant,68.00,95,0,1.99,-79.8626,32.7941,US
1,Kalispell,45.28,76,100,5.99,-114.3129,48.1958,US
2,Uvat,31.50,69,91,7.36,68.8953,59.1433,RU
3,Bredasdorp,53.47,72,66,5.28,20.0403,-34.5322,ZA
4,Karratha,89.47,31,5,14.72,116.8463,-20.7377,AU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#store lat and lng into variable, store humidity
cities = df[["lati", "long"]]
humidity = df["humidity"]

In [4]:

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(cities, humidity, dissipating=False, max_intensity=700,point_radius=10))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#create DataFrame to hold ideal weather
ideal_df = df[(df["temperature"] <80) & (df["temperature"] >60) & (df["wind_speed"] <20) & (df["cloudiness"] <30)]
ideal_df

,city_name,temperature,humidity,cloudiness,wind_speed,long,lati,country
0,Mt. Pleasant,68.00,95,0,1.99,-79.8626,32.7941,US
8,Khorixas,63.99,51,1,2.82,14.9667,-20.3667,NaN
11,Alofi,79.86,72,28,6.64,-169.9187,-19.0595,NU
13,Airai,75.22,43,18,3.38,125.4092,-8.9266,TL
23,Santa Ana,71.56,50,0,5.75,-117.8678,33.7456,US
...,...,...,...,...,...,...,...,...
549,Praia,75.74,43,0,19.57,-23.5087,14.9215,CV
552,Jalu,63.52,57,0,9.44,21.5482,29.0331,LY
556,Kéfalos,61.02,72,0,6.91,26.9589,36.7453,GR
559,Tarrafal,75.99,80,2,14.81,-23.7667,15.2833,CV
564,Yulara,76.84,36,2,13.80,130.9889,-25.2406,AU

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#renamed ideal_df, add new column to new df
hotel_df = ideal_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df

,city_name,temperature,humidity,cloudiness,wind_speed,long,lati,country,Hotel Name
0,Mt. Pleasant,68.00,95,0,1.99,-79.8626,32.7941,US,
8,Khorixas,63.99,51,1,2.82,14.9667,-20.3667,NaN,
11,Alofi,79.86,72,28,6.64,-169.9187,-19.0595,NU,
13,Airai,75.22,43,18,3.38,125.4092,-8.9266,TL,
23,Santa Ana,71.56,50,0,5.75,-117.8678,33.7456,US,
...,...,...,...,...,...,...,...,...,...
549,Praia,75.74,43,0,19.57,-23.5087,14.9215,CV,
552,Jalu,63.52,57,0,9.44,21.5482,29.0331,LY,
556,Kéfalos,61.02,72,0,6.91,26.9589,36.7453,GR,
559,Tarrafal,75.99,80,2,14.81,-23.7667,15.2833,CV,
564,Yulara,76.84,36,2,13.80,130.9889,-25.2406,AU,

In [7]:
#Set parameters
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"radius": 5000, "types": "lodging", "key": g_key}

for index, row in hotel_df.iterrows():
    long = row["long"]
    lati = row["lati"]
    
    params["location"] = f"{lati}, {long}"
    response = requests.get(base_url, params = params).json()
    #pprint(response)
    
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    
    except(KeyError, IndexError):
        print("missing info, skip")
    print("found")

found
found
found
missing info, skip
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
missing info, skip
found
found
missing info, skip
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
missing info, skip
found
found
found
found
found
found
found
found
found
found
found
found
missing info, skip
found
missing info, skip
found
found
found
found
found
found
found
found
found
found

In [8]:
hotel_df

,city_name,temperature,humidity,cloudiness,wind_speed,long,lati,country,Hotel Name
0,Mt. Pleasant,68.00,95,0,1.99,-79.8626,32.7941,US,Best Western Patriots Point
8,Khorixas,63.99,51,1,2.82,14.9667,-20.3667,NaN,Khorixas Lodge
11,Alofi,79.86,72,28,6.64,-169.9187,-19.0595,NU,Taloa Heights
13,Airai,75.22,43,18,3.38,125.4092,-8.9266,TL,
23,Santa Ana,71.56,50,0,5.75,-117.8678,33.7456,US,"Motel 6 Santa Ana, CA"
...,...,...,...,...,...,...,...,...,...
549,Praia,75.74,43,0,19.57,-23.5087,14.9215,CV,LT Aparthotel
552,Jalu,63.52,57,0,9.44,21.5482,29.0331,LY,صاحبة الفخامة
556,Kéfalos,61.02,72,0,6.91,26.9589,36.7453,GR,Kokalakis Hotel
559,Tarrafal,75.99,80,2,14.81,-23.7667,15.2833,CV,Hotel Ixola
564,Yulara,76.84,36,2,13.80,130.9889,-25.2406,AU,Desert Gardens Hotel - Ayers Rock Resort

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city_name</dt><dd>{city_name}</dd>
<dt>country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lati", "long"]]

In [10]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))